{% block scripts %}<script src="/jquery-temp.min.js"></script>{% endblock %}

{% extends "@FOSUser/layout.html.twig" %}
{% block title %}Edit profile{% endblock %}

{% block body %}

  <script type="text/javascript">
    $(document).ready(function() {
      $(".editprofile .content").append('<input class="btnfirst" type="submit" value="Profiel bewerken"/>');
    });
  </script>
  <div id="wrapper">
    <div class="container">

      <div class="row editprofile">
        <div class=" col col-sm-8">
          {% include 'components/profile_completion.html.twig' %}

          {% trans_default_domain 'FOSUserBundle' %}
          {% block fos_user_content %}
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}
            <div class="content" id="algemenegegevens">
              <h3>Jouw gegevens</h3>

              {{ form_label(form.firstName) }}
              {{ form_errors(form.firstName) }}
              {{ form_widget(form.firstName) }}

              {{ form_label(form.lastName) }}
              {{ form_errors(form.lastName) }}
              {{ form_widget(form.lastName) }}

              {{ form_label(form.email) }}
              {{ form_errors(form.email) }}
              {{ form_widget(form.email) }}

              {{ form_label(form.phoneNumber) }}
              {{ form_errors(form.phoneNumber) }}
              {{ form_widget(form.phoneNumber) }}

              {{ form_label(form.street) }}
              {{ form_errors(form.street) }}
              {{ form_widget(form.street) }}

              {{ form_label(form.streetNumber) }}
              {{ form_errors(form.streetNumber) }}
              {{ form_widget(form.streetNumber) }}

              {{ form_label(form.zipcode) }}
              {{ form_errors(form.zipcode) }}
              {{ form_widget(form.zipcode) }}

              {{ form_label(form.city) }}
              {{ form_errors(form.city) }}
              {{ form_widget(form.city) }}

              {{ form_label(form.geslacht) }}
              {{ form_errors(form.geslacht) }}
              {{ form_widget(form.geslacht) }}
            </div>

            <div class="content" id="overjou">
              <h3>Over jou</h3>

              {{ form_label(form.avatarFile) }}
              {{ form_errors(form.avatarFile) }}
              {{ form_widget(form.avatarFile) }}

              {% if app.user.avatar %}
                <img src="{{ asset('upload/image/'~app.user.avatar) | imagine_filter('avatar_profile') }}" alt="Profielfoto">
              {% endif %}

              {{ form_label(form.typeTrainer) }}
              {{ form_errors(form.typeTrainer) }}
              {{ form_widget(form.typeTrainer) }}

              {{ form_label(form.motto) }}
              {{ form_errors(form.motto) }}
              {{ form_widget(form.motto) }}

              {{ form_label(form.description) }}
              {{ form_errors(form.description) }}
              {{ form_widget(form.description) }}

              {{ form_label(form.ervaring) }}
              {{ form_errors(form.ervaring) }}
              {{ form_widget(form.ervaring) }}

              <!-- Multiple USP's are possible. Users can create their own USP's if they're not in the options -->
              <label for="select_usps">Wat zijn jouw USP's?</label>
              <p>Gebruik enter om nieuwe toe te voegen</p>
              <select name="select_usps" id="select_usps" class="js-example-tags" multiple="multiple">
                <option value="dynamisch">Dynamisch</option>
                <option value="Lessen op maat">Lessen op maat</option>
                <option value="Een USP">Een USP</option>
              </select>

            </div>

            <div class="content" id="opleidingen">
              <h3>Opleidingen</h3>
            </div>

            <div class="content" id="wachtwoordveranderen">
              <h3>Wachtwoord veranderen</h3>
            </div>

            <div class="content" id="account">
              <h3>Je account</h3>
            </div>

            <!-- <input type="text" id="fos_user_profile_form_firstName" name="fos_user_profile_form[firstName]" required="required" value="{{ app.user.firstName }}"> -->

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

          {% endblock fos_user_content %}
        </div>

        <div class="col col-sm-offset-1 sidemenu">
          <div class="row">
            <div class="categorieen">
              <h2>Categorieen</h2>
              <ul>
                <li>
                  <a href="#algemenegegevens">Jouw gegevens</a>
                </li>
                <hr>
                <li>
                  <a href="#overjou">Over jou</a>
                </li>
                <hr>
                <li>
                  <a href="#opleidingen">Opleidingen</a>
                </li>
                <hr>
                <li>
                  <a href="#wachtwoordveranderen">Wachtwoord veranderen</a>
                </li>
                <hr>
                <li>
                  <a href="#account">Account</a>
              </ul>
            </div>
          </div>
        </div>
        {% include 'components/sticky_sidemenu.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
