<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:200,400,700" rel="stylesheet">

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/df3219cf9e.js"></script>

    </head>
    <body>
        <div class="navwrapper">
            <nav class="navbar container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcollapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="{{ path('app_default_index') }}"><img src="/media/test_logo.png" class="navbar-brand"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarcollapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('app_default_traininglist') }}">Vind een training</a></li>
                        <li><a href="{{ path('app_default_trainerlist') }}">Vind een trainer</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                        <li class="dropdown user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                {% if app.user.avatar %}
                                    <img src="{{ asset('upload/image/'~app.user.avatar) | imagine_filter('basic_thumbnail') }}" alt="Avatar">
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profiel</a></li>
                                <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Mijn trainingen</a></li>
                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Aanmeldingen</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Uitloggen</a></li>
                            </ul>
                        </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}" class="registrer">Registreren als trainer</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}" class="login">Inloggen voor trainers</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
