{% extends 'base.html.twig' %}
{% block javascripts %}

{% endblock %}

{% block body %}
    <div id="wrapper" class="home">
        <div id="header">
          <h1>Trainers</h1>
        </div>
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <a href="{{ path('app_default_trainerdetail', {'slug': item.slug }) }}" class="col col-md-3">
                        <div class="trainerblock"> <!-- Later data-tilt toevoegen -->
                            <img class="avatar" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_overview') }}">
                            <div class="content">
                                <h3>{{ item.firstName }} {{ item.lastName }}</h3>
                                <p>{{ item.description|length > 150 ? item.description|slice(0, 150) ~ '...' : item.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
