{% extends 'base.html.twig' %}

{% block scripts %}<script src="/jquery-temp.min.js"></script>{% endblock %}

{% set final_avatar %}{% if item.avatar %}{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}{% else %}/media/test_logo.png{% endif %}{% endset %}

{# Title with name and job title #}
{% block title %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}

{# SEO information #}
{% block metadescription %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}, {{item.description|length > 100 ? item.description|slice(0, 100) ~ '...' : item.description }}{% endblock %}
{% block tw_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block tw_pagedescription %}{{item.description|length > 150 ? item.description|slice(0, 150) ~ '...' : item.description }}{% endblock %}
{% block tw_image %}{{final_avatar}}{% endblock %}
{% block fb_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block fb_image %}{{final_avatar}}{% endblock %}
{% block fb_description %}{{item.description}}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
              <div class="col col-sm-3 trainerprofile">

                {% if app.user and item.slug == app.user.slug %}
                  <div class="row">
                    <a class="bewerken" href="{{ path('app_default_trainerdetail', {'slug': item.slug }) }}/bewerken">Profiel bewerken</a>
                  </div>
                {% endif %}

                {% if item.avatar %}
                  <img class="profile-photo" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}">
                  {% else %}
                    <div class="small-avatar avatar_placeholder">{{ item.firstName|slice(0,1) }}</div>
                {% endif %}
                <div class="content">
                    <h1>{{ item.firstName }} {{ item.lastName }}</h1>
                    <h2>{{ item.typeTrainer }}</h2>

                    {% if item.ervaring %}
                      <span class="experience">{{ item.ervaring }} jaar ervaring</span>
                    {% endif %}

                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <p class="education">Human Information Design & Strategy aan Saxion Hogeschool Deventer</p>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>

                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <p class="education">Human Information Design & Strategy aan Saxion Hogeschool Deventer</p>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>
                </div>

              </div>

              <div class="col">
                {% for education in item.education %}
                test
                  {{ education.name }}
                  {{ education.id }}
                {% endfor %}

                {% if app.user and item.slug == app.user.slug %}
                  {% include 'components/profile_completion.html.twig' %}
                {% endif %}

                <script type="text/javascript">
                  $(document).ready(function(){
                    var height = $(".trainings").outerHeight() + 100;
                    var offset = $(".trainings").offset().top - 40;

                    $(".trainings_bg").css({
                      'height': height,
                      'top': offset
                    });
                    console.log(height);
                    console.log(offset);

                  });
                </script>

                <div class="trainer-about row">
                  <h2>Over {% if item.slug == app.user.slug %}jou{% else %}{{ item.firstName }}{% endif %}</h2>
                  <div class="content">
                      <p>
                      {% if item.description %}
                        {{ item.description | raw }}
                      {% elseif app.user and item.description %}
                        <p>Je hebt nog geen beschrijving van jezelf ingevuld.</p>
                      {% else %}
                        <p>{{ item.firstName }} heeft nog geen beschrijving ingevuld.</p>
                      {% endif %}
                      </p>
                  </div>
                  <div class="trainings row">

                    {% if item.trainings is not empty %}
                      <h2>Training{% if item.trainings|length > 1 %}en{% endif %} van {% if app.user and item.slug == app.user.slug %}jou{% else %}{{ item.firstname }}{% endif %}</h2>

                      <!-- Trainings of the trainer go here -->
                      <div class="row search_results">
                        {% for training in item.trainings %}
                          <a href="{{ path('app_default_trainingdetail', {'slug': training.slug }) }}">
                            <div class="search_result content">
                              <div class="content">
                                <h3 class="titel">{{ training.title }}</h3>
                                  Dit is training {{ training.id }}, en die staat nu op {% if training.boost %}True{% else %}False{% endif%}.
                                <p class="properties">
                                  {% for price in training.prices %}

                                    <span class="price">{{ price.price }}</span>
                                    <span class="type">{{ price.type }}</span>

                                  {% endfor %}
                                  <!-- <span class="timeframe">3 dagen</span> -->
                                </p>
                                <p>{{ training.description|length > 150 ? training.description|slice(0, 150) ~ '...' : training.description }}</p>
                                <span class="tags">{{ training.tags|join(', ') }}</span>

                                <a href="/boost?{{ training.id }}" class="boost">Boost deze training</a>
                              </div>
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    {% else %}
                    <h2>
                      {% if app.user and item.slug == app.user.slug %}Je hebt{% else %}{{ item.firstName }} heeft{% endif %} nog geen trainingen aangemaakt.
                    </h2>

                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row categories">
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Communicatie</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Sport</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Dieren</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Lifestyle</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Management</h3>
                <div class="overlay"></div>
              </a>
            </div>
        </div>
        <div class="trainings_bg"></div>
        <div class="trainings_bg trainings_bg_skew"></div>
        </div>
    </div>
{% endblock %}
