{% extends 'base.html.twig' %}

{% block scripts %}<script src="/jquery-temp.min.js"></script>{% endblock %}

{% set final_avatar %}{% if item.avatar %}{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}{% else %}/media/test_logo.png{% endif %}{% endset %}

{# Title with name and job title #}
{% block title %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}

{# SEO information #}
{% block metadescription %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}, {{item.description|length > 100 ? item.description|slice(0, 100) ~ '...' : item.description }}{% endblock %}
{% block tw_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block tw_pagedescription %}{{item.description|length > 150 ? item.description|slice(0, 150) ~ '...' : item.description }}{% endblock %}
{% block tw_image %}{{final_avatar}}{% endblock %}
{% block fb_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block fb_image %}{{final_avatar}}{% endblock %}
{% block fb_description %}{{item.description}}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
              <div class="col col-sm-3 trainerprofile">

                {% if app.user %}
                  {% if item.slug == app.user.slug %}
                    <div class="row">
                      <a class="bewerken" href="{{ path('app_default_trainerdetail', {'slug': item.slug }) }}/bewerken">Profiel bewerken</a>
                    </div>
                  {% endif %}
                {% endif %}

                {% if item.avatar %}
                  <img class="profile-photo" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}">
                  {% else %}
                    <div class="small-avatar avatar_placeholder">{{ item.firstName|slice(0,1) }}</div>
                {% endif %}
                <div class="content">
                    <h1>{{ item.firstName }} {{ item.lastName }}</h1>
                    <h2>{{ item.typeTrainer }}</h2>

                    {% if item.ervaring %}
                      <span class="experience">{{ item.ervaring }} jaar ervaring</span>
                    {% endif %}


                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <p class="education">Human Information Design & Strategy aan Saxion Hogeschool Deventer</p>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>

                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <p class="education">Human Information Design & Strategy aan Saxion Hogeschool Deventer</p>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>
                </div>

              </div>

              <div class="col">
                {% for education in item.education %}
                test
                  {{ education.name }}
                  {{ education.id }}
                {% endfor %}

                <script type="text/javascript">
                  $(document).ready(function(){
                    var height = $(".trainings").outerHeight() + 100;
                    var offset = $(".trainings").offset().top + 80;

                    $(".trainings_bg").css({
                      'height': height,
                      'top': offset
                    });
                    console.log(height);
                    console.log(offset);

                  });
                </script>
                {% if app.user %}
                  {% if item.slug == app.user.slug %}
                    <script type="text/javascript">


                      $(document).ready(function(){
                        // Define the progress
                        progresscounter = 0;

                        // Define the amount of steps to complete
                        amount = 8;
                        count = 100/amount;

                        //
                        // Check for each step if the data has been filled in.
                        // If no, show the step.
                        // If yes, don't show and add a number to the progress bar.
                        //
                        {% if item.avatar %}
                          progresscounter = progresscounter + count;
                          console.log("Avatar - check");
                          {% else %}
                            console.log("LEEG - Avatar");
                            $(".completionsteps").append('<div class="step"><span></span> Stel een profielfoto in</div>');
                        {% endif %}

                        {% if item.ervaring %}
                          progresscounter = progresscounter + count;
                          console.log("Ervaring - check");
                          {% else %}
                            console.log("LEEG - Ervaring");
                            $(".completionsteps").append('<div class="step"><span></span> Hoeveel jaar ervaring heb je?</div>');
                        {% endif %}

                        {% if item.typeTrainer %}
                          progresscounter = progresscounter + count;
                          console.log("Functie - check");
                          {% else %}
                            console.log("LEEG - Functie");
                            $(".completionsteps").append('<div class="step"><span></span> Wat voor soort trainer ben je?</div>');
                        {% endif %}

                        {% if item.motto %}
                          progresscounter = progresscounter + count;
                          console.log("Motto - check");
                          {% else %}
                            console.log("LEEG - Motto");
                            $(".completionsteps").append('<div class="step"><span></span> Wat is je motto?</div>');
                        {% endif %}

                        {% if item.vog %}
                          progresscounter = progresscounter + count;
                          console.log("VOG - check");
                          {% else %}
                            console.log("LEEG - VOG");
                            $(".completionsteps").append('<div class="step"><span></span> Kun je een VOG aanleveren?</div>');
                        {% endif %}

                        {% if item.description %}
                          progresscounter = progresscounter + count;
                          console.log("Omschrijving - check");
                          {% else %}
                            console.log("LEEG - Omschrijving");
                            $(".completionsteps").append('<div class="step"><span></span> Schrijf een korte samenvatting over jezelf</div>');
                        {% endif %}

                        {% if item.education %}
                          progresscounter = progresscounter + count;
                          console.log("Opleiding - check");
                          {% else %}
                            console.log("LEEG - Opleiding");
                            $(".completionsteps").append('<div class="step"><span></span> Voeg je afgeronde opleidingen toe</div>');
                        {% endif %}

                        {% if item.usps %}
                          progresscounter = progresscounter + count;
                          console.log("USP's - check");
                          {% else %}
                            console.log("LEEG - USP's");
                            $(".completionsteps").append('<div class="step"><span></span> Wat zijn je unique selling points?</div>');
                        {% endif %}

                        // Show the progress bar
                        $(".profile_progressbar span").stop().delay(1000).animate({
                          width: progresscounter+'%'
                        }, 1000);

                        // If the profile progress isn't complete, show the processbar with steps
                        if ($(".profile_progressbar span").width() < count*8) {
                          $(".profile_progress").fadeIn();

                          // Set the first step as 1
                          var current = 1;
                          // Define the amount of the progress bar when the last step is reached
                          var lastprogresscount = 100-count;

                          // If the last step is reached, change the wording, else, count the steps
                          if (progresscounter >= 100-count) {
                            $(".completionsteps span").append("Laatste stap");
                          } else {
                            $(".completionsteps span").append("Stap ");

                            $(".completionsteps .step").each(function(){
                              $(this).find("span").append(current);
                              current++;
                            });
                          };

                          // Change the title bases on the amount of steps
                          if (current-1 < 2) {
                            $(".appended").remove();
                            // $(".profile_progress h2").append(". <span>De laatste stap!</span>")
                          } else {
                            $(".profile_progress h2").append('. <span class="appended">Nog "+(current-1)+" stappen te gaan.</span>')
                          };
                        };
                      });
                    </script>

                    <div class="profile_progress">
                      <h2>Maak je profiel compleet</h2>
                      <div class="profile_progressbar"><span></span></div>

                      <div class="completionsteps"></div>
                    </div>
                  {% endif %}
                {% endif %}

                <div class="trainer-about row">
                  <div class="content">
                      <h3>Over mij</h3>
                      <p>
                      {% if item.description %}
                        {{ item.description }}
                        {% else %}
                        <p>Je hebt nog geen beschrijving van jezelf ingevuld.</p>
                      {% endif %}
                      </p>
                  </div>
                  <div class="trainings row">
                    <h2>Trainingen van {{ item.firstname }}</h2>
                    <!-- Trainings of the trainer go here -->
                    <div class="row search_results">
                      {% for training in item.trainings %}
                      <a href="{{ path('app_default_trainingdetail', {'slug': training.slug }) }}">
                        <div class="search_result content">
                          <div class="content">
                            <h3 class="titel">{{ training.title }}</h3>
                            <p class="properties">
                              {% for price in training.prices %}

                                <span class="price">{{ price.price }}</span>
                                <span class="type">{{ price.type }}</span>

                              {% endfor %}
                              <!-- <span class="timeframe">3 dagen</span> -->
                            </p>
                            <p>{{ training.description|length > 150 ? training.description|slice(0, 150) ~ '...' : training.description }}</p>
                            <span class="tags">{{ training.tags|join(', ') }}</span>
                          </div>
                        </div>
                      </a>
                      {% endfor %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row categories">
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Communicatie</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Sport</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Dieren</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Lifestyle</h3>
                <div class="overlay"></div>
              </a>
              <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
                <h3>Management</h3>
                <div class="overlay"></div>
              </a>
            </div>
        </div>
        <div class="trainings_bg"></div>
        <div class="trainings_bg trainings_bg_skew"></div>
        </div>
    </div>
{% endblock %}
