{% extends 'base.html.twig' %}


{% set final_avatar %}{% if item.avatar %}{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}{% else %}/media/test_logo.png{% endif %}{% endset %}

{# Title with name and job title #}
{% block title %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}

{# SEO information #}
{% block metadescription %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}, {{item.description|length > 100 ? item.description|slice(0, 100) ~ '...' : item.description }}{% endblock %}
{% block tw_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block tw_pagedescription %}{{item.description|length > 150 ? item.description|slice(0, 150) ~ '...' : item.description }}{% endblock %}
{% block tw_image %}{{final_avatar}}{% endblock %}
{% block fb_pagetitle %}{{ item.firstName }} {{ item.lastName }} - {{ item.typeTrainer }}{% endblock %}
{% block fb_image %}{{final_avatar}}{% endblock %}
{% block fb_description %}{{item.description}}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="header" class="trainer-header">
            <div class="cover"></div>
            <div class="coverphoto" style="background-image: url('{{ asset('upload/image/'~item.coverPhoto) | imagine_filter('cover_full') }}')"></div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col col-sm-4 trainerprofile">

                <img class="profile-photo" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}">
                <div class="content">
                    <h1>{{ item.firstName }} {{ item.lastName }}</h1>
                    <h2>{{ item.typeTrainer }}</h2>


                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <span class="education">Human Information Design & Strategy</span>
                        <span class="school">Aan Saxion Hogeschool Deventer</span>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>

                    <div class="block">
                        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                        <span class="education">Human Information Design & Strategy</span>
                        <span class="school">Aan Saxion Hogeschool Deventer</span>
                        <span class="duration">augustus 2013 - juli 2017</span>
                    </div>
                </div>

              </div>
                <!-- <div class="general-info col col-sm-7 col-sm-offset-1">
                    <span class="experience">{{ item.ervaring }} jaar ervaring</span>
                    {% if app.user %}
                        <a class="bewerken" href="{{ path('app_default_trainerdetail', {'slug': app.user.slug }) }}/bewerken">Profiel bewerken</a>
                    {% endif %}
                </div> -->
              <div class="col">

                <div class="trainer-about row">
                  <div class="content">
                      <h3>Over mij</h3>
                      <p>{{ item.description }}</p>
                  </div>
                  <div class="trainings row">

                    <!-- Trainings of the trainer go here -->
                    <div class="row search_results">
                      {% for training in item.trainings %}
                      <a href="{{ path('app_default_trainingdetail', {'slug': training.slug }) }}">
                        <div class="search_result content">
                          <!-- <img class="avatar" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_overview') }}"> -->
                          <div class="content">
                            <h3 class="titel">{{ training.title }}</h3>
                            <p>{{ training.description|length > 150 ? training.description|slice(0, 150) ~ '...' : training.description }}</p>
                            <!-- <span class="trainer">{% if training.user is not null %}{{ training.user.firstName }} {{ training.user.lastName }}{% endif %}</span> -->
                            <span class="tags">{{ training.tags|join(', ') }}</span>
                          </div>
                        </div>
                      </a>
                      {% endfor %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
