{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="header" class="trainer-header">
            <div class="cover"></div>
            {#<div class="coverphoto" style="background-image: url('{{ asset('upload/image/'~item.coverPhoto) | imagine_filter('cover_full') }}')">#}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-sm-4 trainerprofile">

                        {#<img class="profile-photo" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_profile') }}">#}
                        <div class="content">
                            {#<h1>{{ item.firstName }} {{ item.lastName }}</h1>#}
                            <h2>Communicatietrainer</h2>
                        </div>

                        <div class="content block">
                            <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                            <span class="education">Human Information Design & Strategy</span>
                            <span class="school">Aan Saxion Hogeschool Deventer</span>
                            <span class="duration">augustus 2013 - juli 2017</span>
                        </div>

                        <div class="content block">
                            <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Opleiding</h3>
                            <span class="education">Human Information Design & Strategy</span>
                            <span class="school">Aan Saxion Hogeschool Deventer</span>
                            <span class="duration">augustus 2013 - juli 2017</span>
                        </div>

                    </div>
                    <div class="general-info col-sm-7 col-sm-offset-1">
                        <span class="experience">15 jaar ervaring</span>
                    </div>
                    <div class="trainer-about col col-sm-7 col-sm-offset-1">
                        <div class="content">
                            <h3>Over mij</h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                    <div class="trainings col-sm-7 col-sm-offset-1">
                        <div class="row">
                            <!-- Trainings of the trainer go here -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}