{% extends 'base.html.twig' %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.1.21/tilt.jquery.min.js
"></script>
{% endblock %}

{% block body %}
    <div id="wrapper" class="home">
        <div id="header">
                <h1>Trainers</h1>
        </div>
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <a href="{{ path('app_default_trainerdetail', {'slug': item.slug }) }}">
                        <div class="trainerblock col-md-3" data-tilt>
                            <img data-til class="avatar" src="{{ asset('upload/image/'~item.avatar) | imagine_filter('avatar_overview') }}">
                            <div data-til class="content">
                                <h3>{{ item.firstName }} {{ item.lastName }}</h3>
                                <p>{{ item.description|length > 150 ? item.description|slice(0, 150) ~ '...' : item.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
