{% extends "@FOSUser/layout.html.twig" %}
{% block body %}

    <div class="container register">
        <div id="header">
            <h1>Maak een gratis profiel aan</h1>
        </div>

        <div class="content col-md-5 col-centered">
            {% trans_default_domain 'FOSUserBundle' %}
            {% block fos_user_content %}
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="row">
                    <div class="col col-md-5">
                        <!-- {{ form_label(form.firstName) }} -->
                        <label for="">Voornaam</label>
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="col col-md-6 col-md-offset-1">
                        <!-- {{ form_label(form.lastName) }} -->
                        <label for="">Achternaam</label>
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                    </div>
                </div>
                <div>
                    <!-- {{ form_label(form.email) }} -->
                    <label for="">E-mailadres</label>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    <!-- {{ form_label(form.phoneNumber) }} -->
                    <label for="">Telefoonnummer</label>
                    {{ form_errors(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="row">
                    <div class="col col-md-8">
                        <!-- {{ form_label(form.street) }} -->
                        <label for="">Straatnaam</label>
                        {{ form_errors(form.street) }}
                        {{ form_widget(form.street) }}
                    </div>
                    <div class="col col-md-3 col-md-offset-1">
                        <!-- {{ form_label(form.streetNumber) }} -->
                        <label for="">Huisnummer</label>
                        {{ form_errors(form.streetNumber) }}
                        {{ form_widget(form.streetNumber) }}
                    </div>
                </div>
                <div>
                    <!-- {{ form_label(form.zipcode) }} -->
                    <label for="">Postcode</label>
                    {{ form_errors(form.zipcode) }}
                    {{ form_widget(form.zipcode) }}
                </div>
                <div>
                    <!-- {{ form_label(form.city) }} -->
                    <label for="">Stad</label>
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div>
                    {{ form_errors(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                </div>
                <div>
                    <input class="btnfirst" type="submit" value="{{ 'Profiel aanmaken'|trans }}"/>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}

            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}
