{% extends "@FOSUser/layout.html.twig" %}
{% block title %}Registreren{% endblock %}

{% block body %}

    <div class="container register">
        <div id="header">
            <h1>Maak een gratis profiel aan</h1>
        </div>

        <div class="content col-md-6 col-centered">
            {% trans_default_domain 'FOSUserBundle' %}
            {% block fos_user_content %}
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="row">
                    <div class="col">
                        {{ form_label(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                    </div>
                </div>
                {{ form_row(form.geslacht) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phoneNumber) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.street) }}
                    </div>
                    <div class="col col-md-4 col-md-offset-1">
                        {{ form_row(form.streetNumber) }}
                    </div>
                </div>
                {{ form_row(form.zipcode) }}
                {{ form_row(form.city) }}
                {{ form_row(form.plainPassword) }}

                <div class="checkbox">
                  <input type="checkbox" name="agree" id="agree" value="">
                  <label for="agree">Ik ga akkoord met de <a href="/algemene-voorwaarden" target="_blank">Algemene voorwaarden</a> en met het <a href="/privacystatement" target="_blank">Privacy statement</a>.</label>
                </div>
                
                <div>
                    <input class="btnfirst" type="submit" value="{{ 'Create profile'|trans }}"/>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}

            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}
